.idea
.DS_Store
.metabase.db.mv.db
.metabase.db.trace.db
.cache
.config
.ipynb_checkpoints
.ipython
.jupyter
.local
*.pyc
bancos.csv
lista_tarifas.csv

out/
project-3/airflow/dbt/logs/dbt.log
.terraform
.terraform.tfstate*
terraform.tfstate*